.card {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.5em;
}

.card img {
  width: 100%;
  height: 90%;
  border-radius: 8px;
}

.card div {
  text-align: center;
  font-weight: bolder;
}
